@import "../../index.scss";

.menue {
    background: $mainColor;
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 10;
    right: -300px;
    top: 0;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;

    nav {
        position: relative;
        top: 30%;
        left: 17%;

        ul li a {
            color: #ffff;
            font-size: 26px;
            line-height: 3rem;
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
        }

        ul li a:hover {
            color: rgb(9, 233, 158);
            letter-spacing: 0.2rem;
            font-size: 28px;
        }
    }

    &.active {
        right: 0;
    }
}